extends ../../layouts/default.pug
block main 
    h1 Trang Danh Sách Sản Phẩm
    .card.mb-3 
        .card-header Bộ lọc và tìm kiếm 
        .card-body 
            each item in filterStatus 
                button(
                class=`btn btn-sm ml-1 btn-outline-success ${item.class} `
                button-status= item.status
            ) #{item.name}
    .card.mb-3 
        .card-header Danh sách 
        .card-body
            table.table.table-hover.table-sm 
                thead 
                    tr 
                        th STT 
                        th Hình Ảnh 
                        th Tiêu Đề
                        th Giá
                        th Trạnh Thái 
                        th Hành Động
                tbody 
                    each item , index in products
                        tr 
                            td #{index + 1}
                            td 
                                img(src=item.thumbnail, alt=""
                                            width="100px"
                                            height="auto")
                            td #{item.title}
                            td #{item.price}$
                            td 
                                if(item.status == "active")
                                    a(href="#" class="badge badge-success") Hoạt Động
                                else 
                                    a(href="#" class="badge badge-danger") Không Hoạt Động

                            td 
                                button(class="btn btn-warning btn-sm") Sửa 
                                button(class="btn btn-danger btn-sm") Xóa 


