extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
block main 
    h1 Trang Danh Sách Sản Phẩm
    .card.mb-3 
        .card-header Bộ lọc và tìm kiếm 
        .card-body 
            .row 
                .col-6 
                    +filter-status(filterStatus)
                .col-6 
                    form(action=""
                        id="form-search"
                        ) 
                        .input-group
                            input(type="text"
                            placeholder="Nhập Từ Khóa"
                            name="keyword"
                            class="form-control"
                            value=keyword 
                            )
                            .input-group-append 
                                button(
                                    class="btn btn-success"
                                    type="submit"
                                )  Tìm
                        
    .card.mb-3 
        .card-header Danh sách 
        .card-body
            table.table.table-hover.table-sm 
                thead 
                    tr 
                        th STT 
                        th Hình Ảnh 
                        th Tiêu Đề
                        th Giá
                        th Trạnh Thái 
                        th Hành Động
                tbody 
                    each item , index in products
                        tr 
                            td #{index + 1}
                            td 
                                img(src=item.thumbnail, alt=""
                                            width="100px"
                                            height="auto")
                            td #{item.title}
                            td #{item.price}$
                            td 
                                if(item.status == "active")
                                    a(href="#" class="badge badge-success") Hoạt Động
                                else 
                                    a(href="#" class="badge badge-danger") Không Hoạt Động

                            td 
                                button(class="btn btn-warning btn-sm") Sửa 
                                button(class="btn btn-danger btn-sm") Xóa 
    div #{pagination.currentPage}
    nav 
        ul(class="pagination")
            if(pagination.currentPage > 1)
                li(class="page-item")
                    button(
                        class="page-link"
                        button-pagination= 1
                        ) Đầu Trang 
            if(pagination.currentPage > 1)
                li(class="page-item")
                    button(
                        class="page-link"
                        button-pagination=pagination.currentPage-1
                        ) Trang Trước
            - for (var i = pagination.currentPage - 1  ;i <= pagination.currentPage+1 ;i++)
                li(class=`page-item ${pagination.currentPage ==i ? "active" : "" }`)
                    button(
                        class="page-link"
                        button-pagination=i
                        ) #{i}
            if(pagination.currentPage < pagination.totalPage)
                li(class="page-item")
                    button(
                        class="page-link"
                        button-pagination=pagination.currentPage + 1
                        ) kế Tiếp
            if(pagination.currentPage > 1)
                li(class="page-item")
                    button(
                        class="page-link"
                        button-pagination=pagination.totalPage
                        ) Cuối Trang