extends ../../layouts/default.pug
block main 
    h1 Trang Danh Sách Sản Phẩm

    table.table.table-hover.table-sm 
        thead 
            tr 
                th STT 
                th Hình Ảnh 
                th Tiêu Đề
                th Giá
                th Trạnh Thái 
                th Hành Động
        tbody 
            each item , index in products
                tr 
                    td #{index + 1}
                    td 
                        img(src=item.thumbnail, alt=""
                                    width="100px"
                                    height="auto")
                    td #{item.title}
                    td #{item.price}$
                    td 
                        if(item.status == "active")
                            a(href="#" class="badge badge-success") Hoạt Động
                        else 
                            a(href="#" class="badge badge-danger") Không Hoạt Động

                    td 
                        button(class="btn btn-warning btn-sm") Sửa 
                        button(class="btn btn-danger btn-sm") Xóa 


